body {
    background-image: url("img/tema.jpg");
    background-size: cover;
    background-position: center;
    background-color: lightyellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    margin-top: 100px;
}

h1 {
    font-size: 100px;
    color: rgb(126, 96, 20);
}

h2 {
    margin-top: 40px;
    font-size: 30px;
    color: darkred;
}

.cookieConteiner {
    margin-top: 40px;
}

.cookie {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
    font-size: 50px;
    padding: 20px 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.cookie:hover {
    transition: 1s;
    background-color: rgb(126, 96, 20);
    color: lightyellow;
    transform: scale(1.3);
}

.shopConteiner {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.strongConteiner {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.cookieblock {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 40px;
}
.card {
    background-color: linen;
    padding: 25px;
    border-radius: 20px;
    width: 250px;
    box-shadow: 0px 0px 10px lightgray;
}

.upgrade {
    width: 100%;
    padding: 15px;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.upgrade:hover {
    background-color: wheat;
    transform: scale(1.02);

}

.strongClick {
     width: 100%;
    padding: 15px;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.strongClick:hover {
   background-color: rgb(195, 245, 179);
    transform: scale(1.02);
}

.clickValue {
     margin-top: 40px;
    font-size: 30px;
    color: darkred;

}

.resetBtn {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.2s;
}

.resetBtn:hover {
    transform: scale(1.05);
}

.musicBtn {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.2s;
}
.musicBtn:hover {
    transform: scale(1.05);


p {
    margin-top: 40px;
    font-size: 30px;
}


